[Unit]
Description=Get IP every day and post it to github
Requires=auto-upload-ip.service

[Timer]
Unit=auto-upload-ip.service
OnCalendar=daily
RandomizedDelaySec=3h

[Install]
WantedBy=timers.target
