[Unit]
Description=Upload IP Address to GitHub
Wants=auto-upload-ip.timer

[Service]
Type=oneshot
WorkingDirectory=/etc/hydroserver/
ExecStart=/bin/auto-upload-ip.sh
User=auto-upload-ip

[Install]
WantedBy=muti-user.target
